.wrapper {
    min-width: 190px;
    width: fit-content;

    .container {
        position: relative;
        height: 100%;

        button {
            height: 100%;
            border: 0;
            border-radius: 6px;
            background: var(--background-color);
            color: var(--text-color);
            width: 100%;
            padding: 20px 24px;
            position: relative;
            text-align: left;
            box-shadow: 0 3px 6px var(--shadow-color);
            cursor: pointer;

            &::first-letter {
                text-transform: uppercase;
            }

            &::after {
                content: "\2191";
                transition: all 200ms;
                float: right;
            }
        }

        .expanded::after {
            transform: rotate(180deg);
        }

        .options {
            border-radius: 6px;
            visibility: hidden;
            opacity: 0;
            padding: 10px 10px;
            position: absolute;
            top: 60px;
            right: 0;
            left: 0;
            font-size: 14px;
            box-shadow: 0 3px 6px var(--shadow-color);
            background-color: var(--background-color);
            transition: all 400ms ease-in-out;
            z-index: 9;

            &.show {
                visibility: visible;
                opacity: 1;
            }

            li {
                padding: 6px 10px;
                cursor: pointer;
                color: var(--text-color);
                border-radius: 4px;

                &::first-letter {
                    text-transform: uppercase;
                }

                &:active,
                &:focus,
                &:hover,
                &[aria-selected="true"] {
                    background-color: rgba(200, 200, 200, .5);
                }
            }
        }
    }
}


@media all and (max-width: 768px){
    .wrapper {
        padding-top: 30px;
    }
}