.switcher {
    gap: 8px;
    max-height: 20px;
    overflow: hidden;

    svg {
        width: 14px;
        height: 14px;
        fill: var(--text-color);
    }
    span {
        white-space: pre;
        font-size: 1em;
        font-weight: 300;
    }
}