@import "/styles/colors.css";

.btn {
    background-color: var(--background-color);
    color: var(--text-color);
    fill: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    min-width: 110px;
    padding: 8px 12px;
    box-shadow: 0 0 11px var(--shadow-color);
    border-radius: 4px;
    font-weight: 600;
}