@import "/styles/colors.css";

.header {
    background-color: var(--background-color);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 1px 6px var(--shadow-color);
    margin-bottom: 10px;
    font-size: 1rem;

    h2 {
        font-size: 1.4em;
    }
}

.content {
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 70vh;
}


@media all and (max-width: 768px) {
    .header {
        font-size: .6rem;
    }
}