@import "/styles/colors.css";

.features {
    .list__features {
        width: 50%;

        li {
            color: var(--text-color);
            line-height: 1.8;
            font-weight: 300;
            font-size: 14px;

            span {
                font-weight: 600;
            }
        }
    }
}

@media all and (max-width: 768px) {
    .features {
        flex-direction: column;
        gap: 30px;

        .list__features {
            width: 100%;
        }
    }
}
