.card {
    max-width: 250px;
    min-width: 200px;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: 0 3px 6px var(--shadow-color);
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;

    .card__header {
        position: relative;

        img {
            width: 100% !important;
            height: auto !important;
            aspect-ratio: 5/3;
        }
    }

    .card__body {
        padding: 15px 15px 35px;

        .title__body {
            font-size: 18px;
            font-weight: 800;
            color: var(--text-color);
        }

        ul {
            margin-top: 12px;

            li {
                line-height: 1.7;
                display: flex;
                flex-wrap: wrap;
                color: var(--text-color);
                font-size: 14px;

                p {
                    font-weight: 600;
                    padding-right: 5px;
                }
            }
        }
    }
}