@import "/styles/colors.css";

.search_form {
    .search_box {
        background-color: var(--background-color);
        box-shadow: 0 3px 6px var(--shadow-color);
        padding: 16px 24px;
        min-width: 400px;
        border-radius: 6px;

        i {
            svg {
                fill: var(--text-color);
                opacity: .5;
            }
        }

        input {
            flex-grow: 1;
            color: var(--text-color);
            background-color: transparent;
            border: none;
            margin: 0 5px;
            padding: 5px 15px;

            &::placeholder {
                color: var(--text-color);
                opacity: .5;
            }
        }
    }
}


@media all and (max-width: 768px){
    .search_form {
        .search_box {
            min-width: auto;
            width: 100%;
        }
    }
}