.country_card {
    margin-top: 60px;
    gap: 100px;

    .flag_image__card {
        position: relative;
        width: 50%;
        height: auto !important;

        img, div {
            width: 100% !important;
            height: 100% !important;
            max-width: 600px !important;
            max-height: 600px !important;
            aspect-ratio: 5/3;
        }
    }

    .features__card {
        gap: 60px;
        width: 50%;

        .detail__features {
            gap: 20px;

            h4 {
                font-size: 24px;
            }
        }

        .tag__features {
            gap: 12px;

            h6 {
                font-size: 14px;
            }
        }

    }
}


@media all and (max-width: 768px) {
    .country_card {
        gap: 40px;
        flex-direction: column;
    
        .flag_image__card {
            text-align: center;
            width: 100%;
        }
    
        .features__card {
            gap: 30px;
            width: 100%;
    
            .tag__features {
                flex-direction: column;
                width: 100%;
                align-items: flex-start;
    
                h6 {
                    font-size: 16px;
                }
            }
    
        }
    }
}