@import "/styles/colors.css";

.tag {
    background-color: var(--background-color);
    color: var(--text-color);
    fill: var(--text-color);
    font-size: 12px;
    padding: 4px 18px;
    box-shadow: 0 0 6px var(--shadow-color);
    border-radius: 4px;
    margin: 2px 4px;
}