

html {
    --main-background-color: hsl(0, 0%, 98%);
    --background-color: #fff;
    --background-input-color: hsl(0, 0%, 52%);
    --shadow-color: rgba(0, 0, 0, .08);
    --text-color: #111517;
}

html[data-theme = "dark"] {
    --main-background-color: hsl(207, 26%, 17%);
    --background-color: hsl(209, 23%, 22%);
    --shadow-color: rgba(0, 0, 0, .08);
    --background-input-color: hsl(0, 0%, 52%);
    --text-color: #ffffff;
}