@import "./colors.css";
@import "./lib.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 300;
}

body {
  background-color: var(--main-background-color);
}


/*
* reset
*/
#__next {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
span,
label,
a,
button,
strong,
p,
ul,
li {
  resize: none;
  margin: 0;
  text-overflow: ellipsis;
}

* {
  outline: none;
  -webkit-appearance: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}