/** containers **/
.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
}

/** flex **/
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.items-stretch {
    align-items: stretch;
}

/** sizes **/
.w-100 {
    width: 100% !important;
}

/** reset props **/
.btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/** colors **/
.text-color {
    color: var(--text-color);
}

/** font weight **/
.weight-300 {
    font-weight: 300;
}
.weight-600 {
    font-weight: 600;
}
.weight-800 {
    font-weight: 800;
}


/** meida **/
@media all and (max-width: 768px){
    .sm\:flex-col {
        flex-direction: column;
    }
}